// :root {
//   --warna-tulisan: green;
// }
$warna-tulisan: rgb(133, 133, 133);


.custom-navbar {
  .navbar-nav {

    .nav-item {
      margin-right: 1.2rem;
    }
    
    .active {
      font-weight: 700;
      color: #1f1534;
    }
  }
}

.section-title {
  font-weight: 700;
  text-align: center;
}

.section-line {
  width: 80px;
  height: 3px;
  border-radius: 12px;
  background-color: rgb(105, 105, 105);
  margin: 25px auto 30px;
  display: block;

  // @include tablet {
  //   margin: 1.5em 0em;
  // }
}


// Our Service
.service-card {
  padding-top: 3em;
  padding-bottom: 2em;
  margin: 10px auto;
  border: none;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.7);
  border-radius: 20px;

  // artinya : & adalah class 'service-card'
  & &-image {
    padding: 1.25rem;
  }

  .card-title {
    font-weight: bold;
  }

  .card-text {
    color: $warna-tulisan;
  }
}

// Feature
.feature-line {
  width: 80px;
  height: 3px;
  border-radius: 12px;
  background-color: rgb(105, 105, 105);
  margin: 25px 10px 30px 0;
  display: block;
}

.feature-detail {
  margin-top: 2em;
}

section {
  margin: 80px auto 50px;
}

.service-section, .service-blog {
  background-color: rgb(247, 242, 242);
  padding: 20px 0px;
}

// Blog
.blog {
  // margin-top: 100px;

  &-card {
    border: none;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.7);
    border-radius: 20px;
    min-height: 480px;
    margin: 2em auto;
  }

  .card-title {
    font-weight: bold;
  }
  .card-text {
    color: $warna-tulisan;
  }
}

footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.75%, #5a98f2 82.96%);
  padding: 2em 0;

  .footer-about {
    color: rgba($color: #fff, $alpha: 0.7);
  }

  .footer-title {
    margin-bottom: 2em;
    font-weight: bold;
    color: white;
    font-size: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    
    li {
      margin-bottom: 15px;
      
      a {
        color: rgba($color: #fff, $alpha: 0.7);
        
        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

// Responsive Breakpoint
